@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-family-poppins), sans-serif;
  --font-righteous: var(--font-family-righteous), sans-serif;
}

body {
  font-family: var(--font-family-poppins);
}
